     <!--Educacion-->
     <div class="educacion  bg-claro container-fluid">
        <a id="educacion"><h2>Educación</h2></a>
        <div class="col-12 text-left p-3">
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In porta placerat enim vel laoreet. Vivamus laoreet erat vitae velit gravida,
            non sagittis lacus laoreet.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>In porta placerat enim vel laoreet. Vivamus laoreet erat vitae velit gravida,
            non sagittis lacus laoreet.</li>
          </ul>
        </div>
    </div>