.navbar{
    background: linear-gradient(0deg, rgba(109, 175, 254, 1) 0%,
         rgba(9,9,121,1) 3%,
         rgba(109, 175, 254, 1) 99%,
         rgba(9,9,121,1) 100%);
    .navbar-brand{
        display: flex;
        align-items: center;       
    }

    .btn-modal{
        background: none;
        color:#B8CBEC;
        border: none;
    }
    .btn-modal:hover{
        color:#F2FFFF;
    } 
}

@media screen and (min-width: 768px) {
    .navbar{
        height: 5rem;
    }
}


