<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto row px-2">
    <div class="container-fluid">
      <div class="navbar-brand">
        <div class="logo"><img src="../../../assets/img/LogoAp.png" alt="logo AP"></div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end col-md-6 col-sm-8" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#acerca">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#educacion">Educación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#skills">
              Skills
            </a>
            </li>
            *ngIf="!isLogin"
            <li class="nav-item">
              <button type="button" class="btn btn-modal px-4" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
              </button>
              </li>
            *ngIf="isLogin"
            <li class="nav-item">
              <button type="button" class="btn btn-modal px-4" (click)="logout()">
                Logout
              </button>
              </li>
          </ul>       
        </div>
    </div>
  </nav>
  <!--Modal Login-->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formLogin" (ngSubmit)="login()">
            <div class="example-form">
                <div class="login-input mb-3" >
                  <input type="text" placeholder="Email" value="" autocomplete="off" formControlName="email">
                </div>
              
                <div class="login-input, mb-3">
                    <input type="password" placeholder="Password" value="" autocomplete="off" formControlName="password">
                </div>
              </div>
              <button  type="submit"
                class="login-input login-btn btn-primary"
                [disabled]="formLogin.invalid">Enviar</button>
        </form>  
        </div>
      </div>
    </div>
  </div>