.foto{
    height: 7rem;
    width:7rem;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color:#fff;
    border-radius: 50%;
}