      <!--Acerca de-->
      <div class="acerca_de bg-claro container-fluid ">
        <div class="row  align-items-center justify-content-start">
          <div class="col-lg-3 col-md-3 col-12 text-center">
            <a id="acerca"><div class="foto mx-auto">
                <img src="../../assets/img/fotocv.jpg" alt="Foto" class="foto">
              </div></a>
            
            <span>Lorem ipsum dolor sit amet, consectetur </span>
          
          </div>
          <div class="col-12 text-left p-3">
            <h1>Lorem ipsum</h1>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              In porta placerat enim vel laoreet. Vivamus laoreet erat vitae velit gravida,
              non sagittis lacus laoreet.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              In porta placerat enim vel laoreet. Vivamus laoreet erat vitae velit gravida,
              non sagittis lacus laoreet.
            </span>
          </div>
        </div>
        
    </div>