      <!--Home-->
      <div class="home container-fluid p-4">
        <div class="row justify-content-around text-center">
          <h2 class="mb-3">Full-Stack<small class="text-muted"> Developer. Desde Buenos Aires , Argentina.
            </small></h2>
          <div class="banner col-lg-7 col-md-6 col-12 mt-2 ">
            <img src="../../assets/anim-img/desktop-small.png" alt="pc" class="pcimg">
            <img src="../../assets/anim-img/tablet-small.png" alt="tablet" class="tabimg">
            <img src="../../assets/anim-img/cell-small.png" alt="cell" class="cellimg">          
          </div>
          
          <div class="content-aside d-flex flex-column justify-content-center col-lg-4 col-md-5">

            <div class="text-card text-center my-2 py-3">
              <h2>Apps y Sitios Full Responsive</h2>
              <span>
                Mobile-First</span>
            </div>

          <a href="#proyectos" class="btn col-lg-4 col-md-4 col-12 btn-portfolio d-flex align-items-center justify-content-center">Mi Portfolio
            <fa-icon [icon]="faChevronRight" class="fa-icon ms-5"></fa-icon>
          </a>
        </div>
      </div>
